# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
# node_modules/
front-end/node_modules/

# Python venv
back-end/venv/

# Expo
# .expo/
# dist/
# web-build/
# expo-env.d.ts
front-end/.expo/
front-end/dist/
front-end/web-build/
front-end/expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo
