back-end/App/__pycache__/__init__.cpython-311.pyc
back-end/App/__pycache__/admin.cpython-311.pyc
back-end/App/__pycache__/apps.cpython-311.pyc
back-end/App/__pycache__/appurls.cpython-311.pyc
back-end/App/__pycache__/forms.cpython-311.pyc
back-end/App/__pycache__/models.cpython-311.pyc
back-end/App/__pycache__/serializers.cpython-311.pyc
back-end/App/__pycache__/views.cpython-311.pyc
back-end/App/migrations/__pycache__/__init__.cpython-311.pyc
back-end/App/migrations/__pycache__/0001_initial.cpython-311.pyc
back-end/App/migrations/__pycache__/0002_approvalstep_file_approvalstep_uploaded_at_and_more.cpython-311.pyc
back-end/App/migrations/__pycache__/0003_sendcode_remove_approvalstep_file_and_more.cpython-311.pyc
back-end/App/migrations/__pycache__/0004_alter_sendcode_created_at.cpython-311.pyc
back-end/App/migrations/__pycache__/0005_document_vacation_days_left.cpython-311.pyc
back-end/App/migrations/__pycache__/0006_remove_document_vacation_days_left_and_more.cpython-311.pyc
back-end/App/migrations/__pycache__/0007_rooms_report.cpython-311.pyc
back-end/App/migrations/__pycache__/0008_group_subject_remove_schedule_course_and_more.cpython-311.pyc
back-end/App/migrations/__pycache__/0009_alter_schedule_end_time_alter_schedule_start_time.cpython-311.pyc
back-end/App/migrations/__pycache__/0010_alter_schedule_day_alter_schedule_end_time_and_more.cpython-311.pyc
back-end/App/migrations/__pycache__/0011_alter_schedule_end_time_alter_schedule_start_time.cpython-311.pyc
back-end/App/migrations/__pycache__/0012_alter_schedule_day.cpython-311.pyc
back-end/App/migrations/__pycache__/0013_alter_schedule_day.cpython-311.pyc
back-end/App/migrations/__pycache__/0014_business_math_phylosophy_physics.cpython-311.pyc
back-end/App/migrations/__pycache__/0015_user_points_alter_business_attached_file_and_more.cpython-311.pyc
back-end/App/migrations/__pycache__/0016_product_redeem_delete_business_and_more.cpython-311.pyc
back-end/App/migrations/__pycache__/0017_redeem_code_alter_product_label_alter_product_name_and_more.cpython-311.pyc
back-end/App/migrations/__pycache__/0018_report_status_alter_report_description.cpython-311.pyc
back-end/App/migrations/__pycache__/0019_report_attachment.cpython-311.pyc
back-end/App/migrations/__pycache__/0020_report_user.cpython-311.pyc
back-end/Hackathon/__pycache__/__init__.cpython-311.pyc
back-end/Hackathon/__pycache__/settings.cpython-311.pyc
back-end/Hackathon/__pycache__/urls.cpython-311.pyc
back-end/Hackathon/__pycache__/wsgi.cpython-311.pyc
