# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# config.json
front-end/config.json

# dependencies
# node_modules/
front-end/node_modules/

# Python venv
back-end/venv/

# Expo
# .expo/
# dist/
# web-build/
# expo-env.d.ts
front-end/.expo/
front-end/dist/
front-end/web-build/
front-end/expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo
back-end/App/__pycache__/__init__.cpython-313.pyc
back-end/App/__pycache__/admin.cpython-313.pyc
back-end/App/__pycache__/apps.cpython-313.pyc
back-end/App/__pycache__/appurls.cpython-313.pyc
back-end/App/__pycache__/backends.cpython-313.pyc
back-end/App/__pycache__/forms.cpython-313.pyc
back-end/App/__pycache__/models.cpython-313.pyc
back-end/App/__pycache__/serializers.cpython-313.pyc
back-end/App/__pycache__/views.cpython-313.pyc
back-end/App/migrations/__pycache__/0012_alter_schedule_day.cpython-313.pyc
back-end/App/migrations/__pycache__/0013_alter_schedule_day.cpython-313.pyc
back-end/App/migrations/__pycache__/0014_business_math_phylosophy_physics.cpython-313.pyc
back-end/App/migrations/__pycache__/0015_user_points_alter_business_attached_file_and_more.cpython-313.pyc
back-end/App/migrations/__pycache__/0016_product_redeem_delete_business_and_more.cpython-313.pyc
back-end/App/migrations/__pycache__/0017_redeem_code_alter_product_label_alter_product_name_and_more.cpython-313.pyc
back-end/App/migrations/__pycache__/0018_report_status_alter_report_description.cpython-313.pyc
back-end/App/migrations/__pycache__/__init__.cpython-313.pyc
back-end/App/migrations/__pycache__/0025_user_points.cpython-313.pyc
back-end/App/migrations/__pycache__/0024_alter_user_facility.cpython-313.pyc
back-end/App/migrations/__pycache__/0023_remove_rooms_number_rooms_facility_rooms_name.cpython-313.pyc
back-end/App/migrations/__pycache__/0020_report_user.cpython-313.pyc
back-end/App/migrations/__pycache__/0021_report_report_date_report_user_name_and_more.cpython-313.pyc
back-end/App/migrations/__pycache__/0022_facility_remove_document_author_and_more.cpython-313.pyc
back-end/App/migrations/__pycache__/0019_report_attachment.cpython-313.pyc
back-end/App/migrations/__pycache__/0011_alter_schedule_end_time_alter_schedule_start_time.cpython-313.pyc
back-end/App/migrations/__pycache__/0009_alter_schedule_end_time_alter_schedule_start_time.cpython-313.pyc
back-end/App/migrations/__pycache__/0010_alter_schedule_day_alter_schedule_end_time_and_more.cpython-313.pyc
back-end/App/migrations/__pycache__/0008_group_subject_remove_schedule_course_and_more.cpython-313.pyc
back-end/App/migrations/__pycache__/0007_rooms_report.cpython-313.pyc
back-end/App/migrations/__pycache__/0006_remove_document_vacation_days_left_and_more.cpython-313.pyc
back-end/App/migrations/__pycache__/0005_document_vacation_days_left.cpython-313.pyc
back-end/App/migrations/__pycache__/0003_sendcode_remove_approvalstep_file_and_more.cpython-313.pyc
back-end/App/migrations/__pycache__/0004_alter_sendcode_created_at.cpython-313.pyc
back-end/App/migrations/__pycache__/0002_approvalstep_file_approvalstep_uploaded_at_and_more.cpython-313.pyc
back-end/App/migrations/__pycache__/0001_initial.cpython-313.pyc
back-end/Hackathon/__pycache__/__init__.cpython-313.pyc
back-end/Hackathon/__pycache__/settings.cpython-313.pyc
back-end/Hackathon/__pycache__/urls.cpython-313.pyc
back-end/Hackathon/__pycache__/wsgi.cpython-313.pyc
back-end/App/migrations/0023_remove_rooms_number_rooms_facility_rooms_name.py
back-end/App/migrations/0024_alter_user_facility.py
back-end/App/migrations/0025_user_points.py
back-end/db.sqlite3
back-end/App/__pycache__/__init__.cpython-313.pyc
back-end/App/__pycache__/admin.cpython-313.pyc
back-end/App/__pycache__/apps.cpython-313.pyc
back-end/App/__pycache__/appurls.cpython-313.pyc
back-end/App/__pycache__/forms.cpython-313.pyc
back-end/App/__pycache__/models.cpython-313.pyc
back-end/App/__pycache__/serializers.cpython-313.pyc
back-end/App/__pycache__/views.cpython-313.pyc
back-end/App/migrations/__pycache__/__init__.cpython-313.pyc
back-end/App/migrations/__pycache__/0001_initial.cpython-313.pyc
back-end/App/migrations/__pycache__/0002_approvalstep_file_approvalstep_uploaded_at_and_more.cpython-313.pyc
back-end/App/migrations/__pycache__/0003_sendcode_remove_approvalstep_file_and_more.cpython-313.pyc
back-end/App/migrations/__pycache__/0004_alter_sendcode_created_at.cpython-313.pyc
back-end/App/migrations/__pycache__/0005_document_vacation_days_left.cpython-313.pyc
back-end/App/migrations/__pycache__/0006_remove_document_vacation_days_left_and_more.cpython-313.pyc
back-end/App/migrations/__pycache__/0007_rooms_report.cpython-313.pyc
back-end/App/migrations/__pycache__/0008_group_subject_remove_schedule_course_and_more.cpython-313.pyc
back-end/App/migrations/__pycache__/0009_alter_schedule_end_time_alter_schedule_start_time.cpython-313.pyc
back-end/App/migrations/__pycache__/0010_alter_schedule_day_alter_schedule_end_time_and_more.cpython-313.pyc
back-end/App/migrations/__pycache__/0011_alter_schedule_end_time_alter_schedule_start_time.cpython-313.pyc
back-end/App/migrations/__pycache__/0012_alter_schedule_day.cpython-313.pyc
back-end/App/migrations/__pycache__/0013_alter_schedule_day.cpython-313.pyc
back-end/App/migrations/__pycache__/0014_business_math_phylosophy_physics.cpython-313.pyc
back-end/App/migrations/__pycache__/0015_user_points_alter_business_attached_file_and_more.cpython-313.pyc
back-end/App/migrations/__pycache__/0016_product_redeem_delete_business_and_more.cpython-313.pyc
back-end/App/migrations/__pycache__/0017_redeem_code_alter_product_label_alter_product_name_and_more.cpython-313.pyc
back-end/App/migrations/__pycache__/0018_report_status_alter_report_description.cpython-313.pyc
back-end/App/migrations/__pycache__/0019_report_attachment.cpython-313.pyc
back-end/App/migrations/__pycache__/0020_report_user.cpython-313.pyc
back-end/App/migrations/__pycache__/0021_report_report_date_report_user_name_and_more.cpython-313.pyc
back-end/App/migrations/__pycache__/0022_facility_remove_document_author_and_more.cpython-313.pyc
back-end/Hackathon/__pycache__/__init__.cpython-313.pyc
back-end/Hackathon/__pycache__/settings.cpython-313.pyc
back-end/Hackathon/__pycache__/urls.cpython-313.pyc
back-end/Hackathon/__pycache__/wsgi.cpython-313.pyc

*.pyc
back-end/App/__pycache__/
back-end/App/__pycache__/__init__.cpython-313.pyc
back-end/App/__pycache__/admin.cpython-313.pyc
back-end/App/__pycache__/apps.cpython-313.pyc
back-end/App/__pycache__/appurls.cpython-313.pyc
back-end/App/__pycache__/backends.cpython-313.pyc
back-end/App/__pycache__/forms.cpython-313.pyc
back-end/App/__pycache__/models.cpython-313.pyc
back-end/App/__pycache__/serializers.cpython-313.pyc
back-end/App/__pycache__/views.cpython-313.pyc
