# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo
*.venv
*venv

# Виртуальное окружение
venv/
ENV/
env/
.venv/

# Файлы кэша Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Логи и временные файлы
*.log
*.tmp

# Настройки IDE
.vscode/
.idea/

# Файлы и папки macOS/Linux/Windows
.DS_Store
Thumbs.db

# Базы данных SQLite
*.sqlite3

# Django stuff:
*.log
local_settings.py
db.sqlite3
media/
staticfiles/

